#login-screen a.dropdown-toggle {
	display:none;
}

#login-screen #login-dropdown-list {
	display:block;
	
}

#login-screen .dropdown-menu {
	display:block;
	width: 30%;
	margin-left: 35%;
	height: 510px;
	z-index:9;
	background-color: #F5F5F7;
	border-radius: 0px;
	
}

#login-screen {
	width: 100%;
	
}

.btn {
	border-radius: 0px;
}

.navigation {
	position:fixed;
	width: 100%;
	height: 70px;
	background-color: #F5F5F7;
	z-index: 999;
	top: 0;
}

#login-dropdown-list input:first-of-type {
	margin: 8px 0;
	border-radius: 0px;
}

#login-dropdown-list input:last-of-type {
	margin: 8px 0;
	border-radius: 0px;
}

input[type=email], input[type=password] {
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;

}

#login-buttons-password {
	border-radius: 0px;
}

.btn-primary {
	background-image: none;
	background-color: #4CAF50;
}

.btn-primary:hover {
	background-color: #4CAF50;
	color: black;
}

#signup-link {
	border-radius: 0px;
	display: inline-block;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	font-size:14px;
	font-family: inherit;
	font-weight: normal;
	margin-top: 5px;
	padding: 6px 12px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	color: #ffffff;
	background-color: #4CAF50;
}

#signup-link:hover {
	text-decoration:none;
	color: black;

}


#forgot-password-link {
	margin-left: 35%;
}

.container {
	padding-top: 100px;
	z-index: 1;
}













